<div class="container">
    <div class="row">
        <div class="col-md-6 order-md-0 order-2">
            <div class="row h-75 ">
                <div class="col-md-6 d-md-block d-none ">
                    <img src="../assets/images/logo-tag.png" style="max-width: 300px; width: 100%;">
                </div>
            </div>
            <!---------------------------media links for mobile screen----------------->
            <div class="row  social-media d-md-none d-block">
                <div class="col text-center">
                    <i class="fa fa-facebook"></i>
                    <i class="fa fa-instagram pl-2"></i>
                </div>
            </div>
            <!------------------------------end of media links----------------------->
            <div class="row">
                <span class=" col text-md-left text-center">© Copyright 2021. All Rights Reserved, Riwaz.</span>
            </div>

        </div>
        <!------------ end of 1 column-------------------->
        <div class="col-md-6 col order-1 order-md-0">
            <!--------------------start of footer menu--------------------->
            <div class=" d-md-block d-none">
                <div class="row pt-2">
                    <div class="col-md-4">
                        HOME
                    </div>
                    <div class="col-md-3">
                        DELIVERY
                    </div>
                </div>

                <div class="row pt-2">
                    <div class="col-md-4">
                        MENU
                    </div>
                    <div class="col-md-4">
                        ABOUT
                    </div>
                </div>

                <div class="row pt-2">
                    <div class="col-md-3">
                        RESERVATIONS
                    </div>
                    <div class="col-md-4 pl-5">
                        OTHER LINKS
                    </div>
                    <div class=" col-md-5 social-media d-md-block d-none">
                        <i class="fa fa-facebook"></i>
                        <i class="fa fa-instagram pl-2"></i>
                    </div>
                </div>

            </div>

            <!------------end of footer menu----------------------------------->
            <!------------------Address---------->
            <div class="row ">
                <div class=" col d-md-block d-none">
                    <h5 class="font-weight-bold ">47, LONDON ROAD, FOREST HILL, LONDON SE23 3TY</h5>
                    <span>020 89221472 | contactus@riwazlimited.co.uk</span>

                </div>
            </div>
            <!-----------------------opening hour------------------------------>
            <div class="row pt-md-4">

                <div class=" col order-1 order-md-0 text-md-left text-center">
                    <h5 class="font-weight-bold ">OPENING HOURS</h5>
                    Monday - Thursday 17:00 - 22:00 | Friday - Sunday 15:00 - 22:00
                </div>
            </div>
                        <!------------------For mobile Screen--------------------------------->
            <div class="col d-block d-md-none pt-5 ">
                <img src="../assets/images/Gold gradient logo-01.png" style="background-color: black; 
                background-size: cover; width: 100%; max-width: 500px;">
            </div>
            <div class="row pt-5">
                <div class="col-md-6 col  d-md-none d-block  text-md-left text-center">
                    <h5 class="font-weight-bold">47, LONDON ROAD, FOREST HILL, LONDON SE23 3TY</h5>
                    <span class="pt-0">020 89221472 | contactus@riwazlimited.co.uk</span><br>

                </div>
            </div>
        </div>

    </div>
</div>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">