<div class="container-fluid the-menu order-1">
    <div class="container">
        <div class="row">
            <div class="col  pt-md-3 text-md-left text-center">
                <span class="span">The Menu</span>
            </div>
        </div>
    </div>
</div>
<!-----------Food- wine----------------------------------->
<div class="container order-2 my-md-3 py-md-3 px-md-5 mx-md-5 my-3 py-3">
    <div class="row ">
        <div class="col-md-6 order-md-1 order-2">
            <div class="food py-md-4 my-md-5 ">
                <h2 class="h2 mr-md-4">FOOD</h2>
                <h2 class="h2" style="color:black;">WINE</h2>
            </div>
        </div>


        <div class="col-md-6  order-md-2 order-1">
            <div class="row">
                <div class="col">
                    <div class="food float-md-right py-md-5 my-md-5 ">
                        <i class="fa fa-search pt-2"></i>
                        <input type="text" placeholder="SEARCH BY INGREDIENT"
                            style="border: 0;overflow: hidden;font-size: 14px;">
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!----------- end of Food- wine----------------------------------->
<!-----------section of foods buttons------------------------------------------->

<div class="container order-3">
    <div class="row">
        <div class="col px-md-5 mx-md-5">
            <a href=""> <button class="btn">All</button></a>
            <a href=""> <button class="btn">SMALL PLATES</button></a>
            <a href=""> <button class="btn">ROLLS/WRAPS</button></a>
            <a href=""> <button class="btn">OFF THE OVEN</button></a>
            <a href=""> <button class="btn">MAIN COURSE</button></a>
            <a href=""> <button class="btn">RICE AND BIRYANIS</button></a>
            <a href=""> <button class="btn">INDIA BREADS</button></a>
            <a href=""> <button class="btn">BEVRAGES AND SIDES</button></a>
        </div>
    </div>
</div>
<!-----------end of section of foods buttons----------------------------------->
<!---------------------------------------all foods-------------->

<div class="container">
    <div class="row">

        <div class="col-md-4 mt-md-0 mt-5">

            <div class="pindi-chole" style="position: relative; overflow: hidden;">
                <h2 class=" h2 text-center">PINDI CHOLE </h2>
                <img src="../assets/images/Pindi Chole with Bhaturas.JPG" style="border-radius: 20px; width: 100%;">
                <div class="overlay mt-md-0">

                    <h3 class="text">PUNJABI BUTTER CHICKEN</h3>
                </div>
                <div class="signature">BEST SELLER</div>

            </div>
            <!---------------------prices------------>
            <div class="col pt-2">
                <div class="row">
                    <div class="col-6">
                        <div class="float-left font-weight-bold">£ 7.95</div>
                    </div>
                    <div class="col-6">
                        <div class="float-right" style="font-weight: 500;">hot</div>
                    </div>
                </div>
            </div>
            <!---------------------end------------>

            <!---------------------------------quantity and order buttons------------->
            <div class="container pt-2">
                <div class="row">
                    <div class="col">
                        <div class=" row">
                            <div class="col-lg-6 col-md-12 col-6">
                                <button class="btn d-flex">
                                    <div class="quantity pr-2">Quantity</div>
                                    <div>-</div>
                                    <input type="number" placeholder="1" class="input">
                                    <div>+</div>
                                </button>
                            </div>
                            <div class="col-lg-6 col-md-12 col-6">
                                <div class="row">
                                    <button class="btn order-now">order now</button></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--------------------end----------------------------------------------------->
        </div>

        <div class="col-md-4 mt-md-0 mt-5">

            <div class="pindi-chole" style="position: relative; overflow: hidden;">
                <h2 class=" h2 text-center">PINDI CHOLE </h2>
                <img src="../assets/images/Pindi Chole with Bhaturas.JPG" style="border-radius: 20px; width: 100%;">
                <div class="overlay mt-md-0">

                    <h3 class="text">PUNJABI BUTTER CHICKEN</h3>
                </div>
                <div class="signature">BEST SELLER</div>

            </div>


            <!---------------------prices------------>
            <div class="col pt-2">
                <div class="row">
                    <div class="col-6">
                        <div class="float-left font-weight-bold">£ 7.95</div>
                    </div>
                    <div class="col-6">
                        <div class="float-right" style="font-weight: 500;">hot</div>
                    </div>
                </div>
            </div>
            <!---------------------end------------>

            <!---------------------------------quantity and order buttons------------->
            <div class="container pt-2">
                <div class="row">
                    <div class="col">
                        <div class=" row">
                            <div class="col-lg-6 col-md-12 col-6">
                                <button class="btn d-flex">
                                    <div class="quantity pr-2">Quantity</div>
                                    <div>-</div>
                                    <input type="number" placeholder="1" class="input">
                                    <div>+</div>
                                </button></div>
                            <div class="col-lg-6 col-md-12 col-6">
                                <div class="row">
                                    <button class="btn order-now">order now</button></div>
                            </div>
                        </div>
                    </div>
                </div>

                <!----- <div class="col">
                <div class="  d-flex justify-content-center">
                    <div class="col-md-6">
                        <div class="  d-flex justify-content-center">
                            <button class="btn btn-large plus-btn d-flex mt-4 ">
                                <div class="quantity pr-3">QUANTITY</div>
                                <div style="display: inherit;">
                                    <span>-</span>
                                    <input type="number" placeholder="1" style="border: none;" class="input">
                                    <span>+</span>
                                </div>

                            </button>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="">
                            <button class="btn btn-lg order-now"> ORDER NOW</button></div>
                    </div>
                </div>
            </div>-->
                <!--------------------end----------------------------------------------------->
            </div>
        </div>
        <div class="col-md-4 mt-md-0 mt-5">
            <div class="pindi-chole" style="position: relative; overflow: hidden;">
                <h2 class=" h2 text-center">PINDI WITH BHATURAS</h2>
                <img src="../assets/images/Prawn Moilee.JPG" style="border-radius: 20px; width: 100%;">
                <div class="overlay">
                    <h3 class="text">PUNJABI BUTTER CHICKEN</h3>
                </div>
                <div class="signature">BEST SELLER</div>

            </div>


            <!---------------------prices------------>
            <div class="col pt-2">
                <div class="row">
                    <div class="col-6">
                        <div class="float-left font-weight-bold">£ 7.95</div>
                    </div>
                    <div class="col-6">
                        <div class="float-right" style="font-weight: 500;">hot</div>
                    </div>
                </div>
            </div>
            <!---------------------end------------>

            <!---------------------------------quantity and order buttons------------->
            <div class="container pt-2">
                <div class="row">
                    <div class="col">
                        <div class=" row">
                            <div class="col-lg-6 col-md-12 col-6">
                                <button class="btn d-flex">
                                    <div class="quantity pr-2">Quantity</div>
                                    <div>-</div>
                                    <input type="number" placeholder="1" class="input">
                                    <div>+</div>
                                </button></div>
                            <div class="col-lg-6 col-md-12 col-6">
                                <div class="row">
                                    <button class="btn order-now">order now</button></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--------------------end----------------------------------------------------->

        </div>
        <div class="col-md-4 pt-md-0 pt-5 mt-5">
            <div class="pindi-chole" style="position: relative;overflow: hidden;">
                <h2 class=" h2 text-center">PINDI BHATURAS</h2>

                <img src="../assets/images/Pindi Chole with Bhaturas.JPG" style="border-radius: 20px; width: 100%;">
                <div class="overlay">
                    <h3 class="text">PUNJABI BUTTER CHICKEN</h3>
                </div>
                <div class="signature">BEST SIGNATURE</div>

            </div>

            <!---------------------prices------------>
            <div class="col pt-2">
                <div class="row">
                    <div class="col-6">
                        <div class="float-left font-weight-bold">£ 7.95</div>
                    </div>
                    <div class="col-6">
                        <div class="float-right" style="font-weight: 500;">hot</div>
                    </div>
                </div>
            </div>
            <!---------------------end------------>

            <!---------------------------------quantity and order buttons------------->
            <div class="container pt-2">
                <div class="row">
                    <div class="col">
                        <div class=" row">
                            <div class="col-lg-6 col-md-12 col-6">
                                <button class="btn d-flex">
                                    <div class="quantity pr-2">Quantity</div>
                                    <div>-</div>
                                    <input type="number" placeholder="1" class="input">
                                    <div>+</div>
                                </button></div>
                            <div class="col-lg-6 col-md-12 col-6">
                                <div class="row">
                                    <button class="btn order-now">order now</button></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--------------------end----------------------------------------------------->
        </div>

        <div class="col-md-4 pt-md-0 pt-5 mt-5">
            <div class="pindi-chole" style="position: relative; overflow: hidden;">
                <h2 class=" h2 text-center">PINDI WITH BHATURAS</h2>
                <img src="../assets/images/Prawn Moilee.JPG" style="border-radius: 20px; width: 100%;">
                <div class="overlay">
                    <h3 class="text">PUNJABI BUTTER CHICKEN</h3>
                </div>
                <div class="signature">BEST SELLER</div>

            </div>

            <!---------------------prices------------>
            <div class="container">
                <div class="row">
                    <div class="col pt-2">
                        <div class="row">
                            <div class="col-6">
                                <div class="float-left font-weight-bold">£ 7.95</div>
                            </div>
                            <div class="col-6">
                                <div class="float-right" style="font-weight: 500;">hot</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!---------------------end------------>

            <!---------------------------------quantity and order buttons------------->
            <div class="container pt-2">
                <div class="row">
                    <div class="col">
                        <div class=" row">
                            <div class="col-lg-6 col-md-12 col-6">
                                <button class="btn d-flex">
                                    <div class="quantity pr-2">Quantity</div>
                                    <div>-</div>
                                    <input type="number" placeholder="1" class="input">
                                    <div>+</div>
                                </button>
                            </div>
                            <div class="col-lg-6 col-md-12 col-6">
                                <div class="row">
                                    <button class="btn order-now">order now</button></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--------------------end----------------------------------------------------->
        </div>
    </div>
</div>
<!-----------end of all foods------------------>
<hr class=" pt-5 mt-5 5px solid black">