<div class="container-fluid banner-logo">
    <div class="row">
        <div class="col-12">
            <div class="text-center logo">
                <img src="../assets/images/Gold gradient logo-01.png" class="  img">
            </div>
        </div>
        <div class="arrow">
            <i class="fa fa-angle-double-down i arrow"></i>
        </div>
    </div>
</div>
<div class="container-fluid banner-content text-center py-auto font-sizr-smaller">
    <div style="font-size: 14px; font-weight: 500px;" class="pt-2"> ENJOY 15% OFF TILL MARCH 31ST, 2021
    </div>
</div>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">