<div class="container-fluid  homebanner">

</div>
<!-------------INTERESTINGLY INDIAN------------------------------>
<div class="container">
    <div class="row">
        <div class="col-md-5 order-2 order-md-1">
            <div class=" pt-md-5 pl-md-5 mt-md-5 ml-md-5 mt-3 pt-3 text-md-left text-center">
                <img src="../assets/images/left.png" class="left_img">
            </div>
        </div>
        <div class="col-md-7 order-1 order-md-2 text-md-left text-center">
            <div class=" row pt-5  mt-5  ml-md-3  ">
                <strong class=" h2 font-weight-md-bold font-weight-500 ml-md-0 ml-5 ">INTERESTINGLY INDIAN</strong><br>
                <p class="font-weight-600" style="font-size: 16px;">Inspired by the richness and diversity of flavours
                    and spices across India, Riwaz brings together an authentic and eclectic
                    melange of India’s most loved dishes, alongside some interesting twists.
                </p><br>
                <div class=" text-md-left text-center ">
                    <button class="btn btn-lg  ">RESERVE A TABLE</button>
                    <img src="../assets/images/right.png" class="left_img">
                </div>
            </div>
        </div>
    </div>
</div>
<!---------------------------------end of INTERESTINGLY INDIAN-------------------------------->
<!----------------------------------Taste of India--------------------------------------------->
<div class="container">
    <div class="row">
        <div class="col">
            <div class="text-center  mt-5 pt-5 ">
                <h1 class="h1 font-weight-bold d-inline-flex ">A taste of India, in London<span
                        class="d-md-block d-none"><img src="../assets/images/Group 873.png" class="ml-2 "
                            style="max-width: 100%; width: 40px;"></span>
                </h1>
                <p style="font-size: 16px;">Gone are those days when you had to travel to a country to eat authentic
                    food.
                    Get a taste of India, now in London, at Riwaz.
                </p><br>
                <div class="  text-center ">
                    <button class="btn btn-lg  ">VIEW ENTIRE MENU</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!------------------------------end of taste of india------------------------------------------->
<!-----------------------------------pindi-chole--------------------------------------------->
<div class="container">
    <div class="row">
        <div class="col-md-4 mt-md-0 mt-5">
            <div class="pindi-chole" style="position: relative; overflow: hidden;">
                <h2 class=" h2 text-center">PINDI CHOLE WITH BHATURAS</h2>
                <img src="../assets/images/Pindi Chole with Bhaturas.JPG" style="border-radius: 20px; width: 100%;">
                <div class="overlay mt-md-0">
                    <h3 class="text">PUNJABI BUTTER CHICKEN</h3>
                </div>
                <button class="btn btn-lg order-now"> ORDER NOW</button>
            </div>

        </div>
        <div class="col-md-4 mt-md-0 mt-5">
            <div class="pindi-chole" style="position: relative;overflow: hidden;">
                <h2 class=" h2 text-center">SEEKH KEBABS</h2>

                <img src="../assets/images/Pindi Chole with Bhaturas.JPG" style="border-radius: 20px; width: 100%;">
                <div class="overlay">
                    <h3 class="text">PUNJABI BUTTER CHICKEN</h3>
                </div>
                <button class="btn btn-lg order-now"> ORDER NOW</button>
            </div>

        </div>
        <div class="col-md-4 mt-md-0 mt-5">
            <div class="pindi-chole" style="position: relative; overflow: hidden;">
                <h2 class=" h2 text-center">BHARWAN ALOO</h2>
                <img src="../assets/images/Prawn Moilee.JPG" style="border-radius: 20px; width: 100%;">
                <div class="overlay">
                    <h3 class="text">PUNJABI BUTTER CHICKEN</h3>
                </div>
                <div class="signature"> SIGNATURE</div>
                <button class="btn btn-lg order-now"> ORDER NOW</button>
            </div>

        </div>
    </div>
</div>
<!-------------------------------end of pindi-chole------------------------->

<div class="container  my-md-4 my-1">
    <div class="row">
        <!---------------------------turmeric--------------------->
        <div class=" col col-md-6 order-md-1 order-2">
            <div class="row turmeric py-md-5 py-3 my-3 my-md-5">
                <div class="col-md-4 col-6">
                    <img src="../assets/images/Group 870.png" class="img h-50 pl-3">
                    <button class="btn"> TURMERIC</button>
                </div>
                <div class="col-md-4  col-6">
                    <img src="../assets/images/Group 863.png" class="img h-50 pl-3">
                    <button class="btn"> TURMERIC</button>
                </div>
                <div class="col-md-4  col-6">
                    <img src="../assets/images/Group 862.png" class="img h-50 pl-3">
                    <button class="btn"> TURMERIC</button>
                </div>
                <div class="col-md-4  col-6">
                    <img src="../assets/images/Group 872.png" class="img h-50 pl-3">
                    <button class="btn"> TURMERIC</button>
                </div>
                <div class="col-md-4  col-6">
                    <img src="../assets/images/Group 874.png" class="img h-50 pl-3">
                    <button class="btn"> TURMERIC</button>
                </div>
                <div class="col-md-4  col-6">
                    <img src="../assets/images/Group 873.png" class="img h-50 pl-3">
                    <button class="btn"> TURMERIC</button>
                </div>
                <div class="col-md-4  col-6">
                    <img src="../assets/images/Group 875.png" class="img h-50 pl-3">
                    <button class="btn"> TURMERIC</button>
                </div>
                <div class="col-md-4  col-6">
                    <img src="../assets/images/Group 886.png" class="img  h-50 pl-3">
                    <button class="btn"> TURMERIC</button>
                </div>
                <div class="col-md-4  col-6">
                    <img src="../assets/images/Group 876.png" class="img h-50 pl-3">
                    <button class="btn"> TURMERIC</button>
                </div>
            </div>
        </div>
        <!------------------------end of turmic------------------->
        <!-------------------------spice of life---------->
        <div class="col-md-6 my-5 py-md-5 py-3 order-md-2 order-1">
            <div class="row">
                <div class="col-md-12  ">

                    <div class=" row spice-life ml-md-5 ml-0">
                        <div class=" text-md-left text-center">
                            <h2 class="font-weight-bold ">SPICES OF LIFE</h2>
                            <p class="p  text-md-left text-center">The spices we use are sourced ethically and from
                                trusted partners. They’re not
                                just
                                flavouring ingredients,
                                but literally spices that bring infinite goodness to your health and life.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row spice ext-md-left text-center pt-md-5">
                        <div class="col-md-6">
                            <img src="../assets/images/Pindi Chole with Bhaturas.JPG" class="img rounded-circle col-4">
                        </div>


                        <div class="p col-md-6  text-md-left text-center">
                            <p>Bay leaf is an herb that is commonly used in cooking.
                                The leaves and oil are also used to make medicine.</p>
                            <p> People use bay leaf for diabetes, cancer, stomach problems, pain,
                                and many other conditions,</p>

                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
<!------------------------------------end of end of spice of life ----------------->
<!------------------------------------enjoy life---------------------------------->
<div class="conatiner-fluid enjoy h-100 mb-5 ">
    <div class="text-center pt-md-4 pt-5 pb-5 pb-md-4 " style="position: relative;
    text-align: center;">
        <img src="../assets/images/layer-1.png" class="w-75">
        <span class="text-white span pl-md-3 pr-md-3 pl-5 pr-5">ENJOY FREE HOME DELIVERY :)</span>
    </div>
</div>
<!------------end of enjoy life------------->